body{
    background-image: url(background.jpg);
     background-size: 1500px;
     
 }
  img{
     height: 70px;
     width: 70px;
     border-radius:60px ;
 }
 .nav1{
     background-color: black;
     border-radius: 30px;
 }
 .nav1 ul{
     overflow: auto;
 }
 .nav1 li{
     float: left;
     list-style: none;
     margin: 13px 20px;
 }
 .nav1 li a{
     padding: 3px 3px;
     text-decoration: none;
     color:rgb(230, 221, 221);
 }
 .nav1 li a:hover{
     color: red;
 }
 .search{
     float: right;
     color: white;
     padding: 8px 50px;
 }
 .nav1 input{
     border: 2px solid black;
     border-radius: 10px;
     padding: 3px 17px;
     width: 150px;}
 